/* App.css */

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100%;
}

/* Contenedor principal para mantener el footer en la parte inferior */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que la altura mínima sea del 100% del viewport */
}

/* Asegura que el contenido principal expanda para llenar el espacio disponible */
.main-content {
  flex: 1;
}

/* Estilos para el navbar */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #007bff;
}

/* Estilos generales para los botones */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para el footer */
.footer {
  background-color: #333;
  text-align: center;
  padding: 15px 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
}

/* Estilos específicos para las páginas y formularios */

.page-container {
  padding: 20px;
}

h1, h2 {
  color: #333;
  margin: 0;
  text-align: center;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 500px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Estilos para la lista de videojuegos */
.videojuegos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.videojuego-item {
  background-color: #a49898;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.videojuego-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.videojuego-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

.videojuego-item a:hover {
  color: #007bff;
}

.videojuego-item img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}
