/* Footer.css */

html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    flex: 1;
  }
  
  .footer {
    background-color: #414040;
    color: #869c5f;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content p {
    margin: 0;
    font-size: 14px;
  }
  